
.stHeader{
    width: 100%;
    background-color: #FFE600
}

.inputSearch{
/*
    height: 50px;
    display: flex;
    align-items: center;*/
    
}

.logoEntender{
    background-color:red;
}

.inputEntender{

    background-color: yellow;
}

.unitarios{
    background-color: green;
    border:1px solid black;
}

.imgLogo{
    max-height: 35px;
    max-width: 45px;
    display: inline-block;
}